.element__like {
    max-height: 19px;
    max-width: 22px;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__like:active {
    background-image: url(./../../../images/activeLike.svg);
}