.form__buttom-title {
    font-family: 'Inter, Arial, sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .form__buttom-title {
        margin: 0;
        padding: 14px 0 14px 0;
    }
}