.popup__closeikon {
    margin-left: auto;
    padding-bottom: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -39px;
    top: -39px;
    background-image: url(./../../../images/CloseIcon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.popup__closeikon:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .popup__closeikon {
        position: unset;
        width: 20px;
        height: 20px;
    }
}